{% extends 'main/base.html' %}
{% block content %}

<div class="card mb-3">
    <div class="card-header">
        編集
    </div>

    <div class="card-body">

        <h1 class="h4 mb-3">タイムライン</h1>

        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">編集</button>

            {% if user == post.author %}
                <a href="{% url 'post_edit' post.pk %}" class="btn btn-secondary ms-2">編集</a>
            {% endif %}
        </form>

    </div>
</div>

{% endblock content %}
