{% extends 'main/base.html' %}
{% block content %}

<div class="card mb-3">
    <div class="card-header">
        削除確認
    </div>

    <div class="card-body">
        <p>「{{ post.content }}」を本当に削除しますか？</p>

        <form method="POST">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">はい、削除します</button>
            <a href="{% url 'post_detail' post.pk %}" class="btn btn-secondary ms-2">いいえ、キャンセルします</a>
        </form>
    </div>
</div>

{% endblock content %}
